.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 50vh;
  padding: 4rem 0 2rem 0;
  position: relative;
}

.hero-left {
  flex: 1;
}

.hero-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 1024px) {
  .hero-section {
    flex-direction: column;
    align-items: flex-start;
    gap: 4rem;
  }

  .hero-right {
    justify-content: flex-start;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .hero-section {
    padding: 0;
  }
}
